.header{
    padding: 8px 10px;
    width: 100vw;
    background-color: var(--white-color);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.09);
    position: sticky;
    top: 0;
    z-index: 100;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;

        .logo h2{
            font-size: 40px;
            text-transform: uppercase;
            font-style: italic;
            color: var(--green-color);
        }

        .logo a{
            text-decoration: none;
        }
    }

    .container .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        li{
            list-style: none;
            position: relative;
        }

        li a{
            text-decoration: none;
            font-size: 19px;
            font-weight: 500;
            color: var(--dark-color);
        }

        li.active a, li a:hover{
            color: var(--green-color);
        }

        li a:hover::after,
        li.active a::after{
            content: "";
            height: 3px;
            width: 60%;
            position: absolute;
            background-color: var(--green-color);
            bottom: -4px;
            left: 0;
            border-radius: 3px;
        }

        .toggle{
            width: 130px;
            height: 40px;
            border: 1px solid var(--bg-color);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-radius: 10px;
            overflow: hidden;
        }

        .toggle button{
            border: none;
            width: 50%;
            height: inherit;
            background-color: var(--bg-color);
            font-size: 25px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--dark-color);
        }

        .toggle button:nth-child(1){
            border-right: 1px solid var(--dark-color);
        }

        .toggle button.active{
            background-color: var(--green-color);
            color: var(--white-color);
        }
    }

    .container .menu{
        border: 1px solid black;
        padding: 8px 10px;
        display: none;
        border-radius: 8px;
        color: var(--dark-color);

        i{
            font-size: 30px;
        }
    }
}

#close{
    display: none;
}