.all__main{
    position: relative;

    .open__main{
        width: 50px;
        height: 50px;
        color: var(--dark-color);
        display: none;
        justify-content: center;
        align-items: center;
        position: fixed;
        margin-top: 10px;
        z-index: 89;
        
        i{
            font-size: 35px;
        }
    }

    .left{
        width: 300px;
        background-color: var(--white-color);
        height: 88vh;
        z-index: 90;
        margin: 0.5vh 0;
        overflow-y: hidden;
        overflow-y: auto;
        border-radius: 15px;
        padding: 10px 5px;
        position: fixed;
        float: left;
        max-width: 100vw;
        
        #back__menu{
            position: sticky;
            top: 5px;
            margin-top: 0;
            margin-left: 250px;
            font-size: 30px;
            display: none;
            color: var(--dark-color);
        }

        .modul__title{
            text-align: center;
            margin-bottom: 5px;
            font-size: 23px;
            font-weight: 700;
            color: var(--dark-color);
        }
    }

    ::-webkit-scrollbar{
        width: 0;
    }

    .left .nav__main{
        
        li{
            border: 1px solid var(--bg-color);
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding-left: 5px;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 10px;
            border-radius: 10px;
            z-index: 91;
            color: var(--dark-color);
            cursor: pointer;
            text-transform: capitalize;
        }

        li.active, li:hover{
            width: 300px;
            background-color: var(--dark-color);
            color: var(--white-color);
            margin-left: 5px;
        }
    }

    .right{
        width: calc(100vw - 310px);
        margin-left: 305px;
        margin-top: 0.5vh;
        padding: 5px;
        height: 88vh;
        top: 22vh;
        position: sticky;
        overflow: hidden;
        overflow-y: auto;

        .informs{
            background-color: var(--normal-bg-color);
            display: block;
            padding: 10px 5px;
            border-radius: 8px;
            margin-bottom: 10px;
            display: none;

            &.active{
                display: block;
            }
        }
    }
}

.main__title{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--dark-color);
}

.main__desc{
    font-size: 18px;
    margin-bottom: 10px;
    display: inline-block;
    color: var(--dark-color);

    span{
        color: red;
        font-size: 25px;
        font-weight: 700;
    }
}

.necessary{
    display: inline-block;
    background-color: #f5f5f5;
    color: #dc1472;
    padding: 0 5px;
    margin-bottom: 5px;
    margin-left: 5px
}

.main__table{
    padding-left: 20px;
    color: var(--dark-color);
    margin-bottom: 15px;
}

.main_ex{
    display: inline-block;
    padding: 20px 10px;
    background-color: var(--bg-color);
    border-radius: 5px;

    .content{
        padding: 10px;
        background-color: var(--white-color);
    }
}

.block{
    display: block;
}

.modal__examp{
    padding: 10px 15px;
    background-color: #f5f5f5;
    display: inline-block;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 15px;
    list-style: none;

    .modal__sel{
        color: #e7b01b;
    }

    .modal__code{
        color: #1fc6c6;
        padding-left: 15px;
    }

}

.l-none{
    list-style: none !important;
}